/* CSS Document */
.tab-content__one-col.time_sp{background:#FFFFCC;width:23%;padding:0 6px}.tab-content__one-col.events_sp{background:#FFFFCC;width:77%}@media only screen and (max-width:767px){.tab-content__one-col.events_sp,.tab-content__one-col.time_sp{padding:0 10px;width:100%;font-size:16px;line-height:1.8;background:#FFFFCC;}}
